@media (min-width: 576px) {
  .container {
    max-width: 535px;
  }
}

@media screen and (max-width: 600px) {
  .col-6 {
    width: 100%;
    float: left;
  }
  .login-form {
    margin-top: 10px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 730px;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 965px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1170px;
  }
}

@media (min-width: 1400px) {
  .container {
    max-width: 1360px;
  }
}
